@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap");

* {
  box-sizing: border-box;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 95%;
  margin: 30px auto;
  color: #293264;
  font-family: "Inter", sans-serif;
  background-image: url("/bg2.jpg");
  background-size: cover;
  background-repeat: no-repeat;

  @media (min-width: 720px) {
  width: 50%;
}
}

#home-div {
  height: 80vh;
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

h1 {
  font-size: 72px;
}

#home-btn {
  font-size: 24px;
}

.answers {
  display: flex;
  gap: 2rem;
}

input[type="radio"] {
  display: none;
}

label {
  display: inline-block;
  padding: 5px 20px;
  border: 1px solid #293264;
  background-color: transparent;
  color: #293264;
  border-radius: 12px;
  cursor: pointer;
  transition: all 0.3s ease;
}

input[type="radio"]:checked + label.while-selecting {
  background-color: #b1beff;
  border: 1px solid #b1beff;
  color: #4c1d95;
}


.while-selecting:hover {
  background-color: rgba(139, 92, 246, 0.1);
}

hr {
  border: none;
  border-top: 1px solid grey;
  margin: 30px auto;
}

.correct {
  background-color: #94d7a2;
  border: none;
}

.incorrect {
  background-color: #f8bcbc;
  border: none;
  opacity: 0.6;
}

.opaque {
  opacity: 0.6;
}

.check-again-btn {
  display: block;
  color: white;
  background-color: #4d5b9e;
  border: none;
  border-radius: 15px;
  padding: 15px 30px;
}

.m-auto {
  margin: auto;
}

#play-again-div {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 3rem;
  font-weight: 700;
}
